<footer>  <nav class="navbar fixed-bottom" style="background-color: #f0b5ee;">
    <div class="container-fluid">
      <h6 class="navbar-text" style="color: #ffffff; display: flex; align-items: center; justify-content: center;" >© 2023 Vittoria Cardias. ID #300970112. COMP229 - Third semester: Software Engineering Technician.</h6>
    </div>
  </nav></footer>