    <!-- Navbar -->


    <nav class="navbar navbar-expand-lg" style="background-color:#f0b5ee;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">      
            <!-- Logo Image -->
            <img src="images/logo-no-background.png" width="90" height="50" alt="" class="d-inline-block align-middle mr-2">
            <!-- Logo Text -->
            <span class="text-uppercase font-weight-bold"></span>
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="">
              <% if (typeof displayName == 'string' && displayName) { %>
                <span style="color: #ffffff;">  Welcome, <%= displayName %> </span>
              <% } %>
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    
              <% if (title == "Home") { %>
                <li class="nav-item active">
              <%  } else   { %>
                <li class="nav-item">
              <%  } %>
    
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home" style="color: #ffffff;"><i class="fas fa-lg fa-laptop-house"></i> Home</a>
              </li>
    
              <% if (title == "About") { %>
                <li class="nav-item active">
              <%  } else   { %>
                <li class="nav-item">
              <%  } %>
              
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about" style="color: #ffffff;"><i class="fa-thin fa-circle-info" style="color: #ffffff;"></i> About</a>
              </li>
    
              <% if (title == "Products") { %>
                <li class="nav-item active">
              <%  } else   { %>
                <li class="nav-item">
              <%  } %>
              
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/projects" style="color: #ffffff;">Projects</a>
              </li>
    
              <% if (title == "Services") { %>
                <li class="nav-item active">
              <%  } else   { %>
                <li class="nav-item">
              <%  } %>
              
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/services" style="color: #ffffff;">Services</a>
              </li>
    
              <% if (title == "Contact") { %>
                <li class="nav-item active">
              <%  } else   { %>
                <li class="nav-item">
              <%  } %>
              
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/contact" style="color: #ffffff;">Contact</a>
              </li>

              <% if (title == "Contact List") { %>
                <li class="nav-item active">
              <%  } else   { %>
                <li class="nav-item">
              <%  } %>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/name-list" style="color: #ffffff;">Contact List</a>
              </li>


              <% if (typeof displayName == 'string' && displayName) { %>
                <li class="nav-item"><a href="/logout" class="nav-link" style="color: #ffffff;">
                  Logout</a></li>
                <% } else  { %>
                  <li class="nav-item"><a href="/login" class="nav-link" style="color: #ffffff;">
                    Login</a></li>
                <% } %>
              
              </li>
            </ul>
          </div>
        </div>
      </nav>
